.jumbotron {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin-bottom: 0;
    background-image: url("./public/images/pink-plants.jpg");

  }
  
  @media (min-width: 768px) {
    .jumbotron {
      padding-top: 6rem;
      padding-bottom: 6rem;
    }
  }
  
  .jumbotron p:last-child {
    margin-bottom: 0;
  }
  
  .jumbotron h1 {
    font-weight: 300;
  }
  
  .jumbotron .container {
    max-width: 40rem;
  }

  .collapse {
    background-color: rgba(191, 252, 122, 0.678)
  }

  .row-cols-4 {
    padding-top: 2rem;
    padding-bottom: 2rem;
    background-color: rgba(191, 252, 122, 0.678);
  }

  .card-body {
    padding-top: 50px;
  }

  .highlight {
    background-color: rgba(191, 252, 122, 0.678);
    padding-left: 3rem;
    padding-right: 3rem;
  }

  footer {
    padding-top: 3rem;
    padding-left: 2rem;
    padding-bottom: 3rem;
  }
  
  footer p {
    margin-bottom: .25rem;
  }